{% extends "base.html" %}
{% block content %}
<div class="mt-5 mx-auto w-1/2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    {% for object in object_list %}
    <a href="{% url 'content-detail' object.slug %}" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
        {{object.title}} | <span class="text-end text-sm gray-300">
            {{ object.view_count }} View{{ object.view_count|pluralize }}
        </span> 
    </a>
    {% endfor %}

    {% if object_list.has_other_pages %}
    <div class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
    {% if object_list.has_previous %}
    <a href="?page={{ object_list.previous_page_number }}">
        <button class="bg-purple-900 text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded">Newer Data</button>
    </a>
    {% endif %}
    {% if object_list.has_next %}
    <a href="?page={{ object_list.next_page_number }}">
    <button class="bg-purple-900 text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded">Older Data</button>
</a>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}