<div class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        
                        <div>
                            
                            <p class="ml-auto text-base font-light text-gray-500 dark:text-gray-400">
                                {{ object.view_count }} View{{ object.view_count|pluralize }}
                            </p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time></p>
                        </div>
                    </div>
                </address>
                
            </div>